@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
$dark-color: #5B5353;
$bg-color: #7498FA;
$title: #4073ff;
$light-color: rgba(184, 185, 188, 0.7);
$text-color: #373738;
$bg: #EAEEF7;

%shadow {
-webkit-box-shadow: 2px 10px 26px -6px rgba(0,0,0,0.8);
-moz-box-shadow: 2px 10px 26px -6px rgba(0,0,0,0.8);
box-shadow: 2px 10px 26px -6px rgba(0,0,0,0.8);
}

%title {
  color: $text-color;
  background-color: $title;
  border: 1px solid black;
  @extend %shadow;
  position: relative;
  font-size: 24px;
  padding-left: 5px;
  font-family: Roboto Slab;
  
}

body {
  background-color: $bg-color;
}

//Editor

#first {
  height: 385px;
  padding-top: 30px;
  width: 800px;  
  margin: auto;
  .fa-rocket{
    margin-right: 5px;
    
  }
  #title { @extend %title }
  #editor {
    background-color: $light-color;
    border: 1px solid $text-color;
    margin-top: -30px;
    padding-top: 15px;
    height: 340px;
    width: 794px;
    resize: none;    
    @extend %shadow
  }
}

//Previewer

#second {  
  padding-top: 20px;
  width: 800px;
  max-width: 800px;
  margin: auto;
  .fa-rocket {
    margin-right: 5px;
  }
  #title {
    @extend %title;
  }
  #previewer {
    background-color: $light-color;
    padding-left: 20px;
    margin-top: -25px;
    border: 1px solid $text-color;
    @extend %shadow
  }
}

//Markdown style

#previewer {
  pre {
    background: #ffe0e5;
    margin-right: 20px;
    padding: 5px;
  }
  code {
    background: #ffe0e5;    
  }
  table {
    border-collapse: collapse;
  }
  td, th {
    border: 1px solid black;
    padding: 4px;
    
  }
  img {
    width: 650px;
    padding: 10px;    
    margin: auto;
    @media screen and (max-width: 650px) {
      width: 80%;
    }
  }
}

.bottombox {
  font-family: "Arial", serif;
  @extend %shadow;
	background-color: $bg-color;
	border-radius: 3px;
	border: 1px solid black;
  width: 400px;
  margin: auto;
  text-align: center;
  text-transform: lowercase;
  text-decoration: none;
}

.text {
  text-decoration: none;
  color: white;
}

.bottomtext {
  text-decoration: none;
  color: green;
}